[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pandas = "*"
numpy = "==1.19.3"
requests = "*"
django-crispy-forms = "*"
matplotlib = "*"
joblib = "*"
scikit-learn = "*"
bs4 = "*"

[dev-packages]

[requires]
python_version = "3.7"
