@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

/* Loader */
.loading-screen{
    position: fixed;
    background-color: rgba(11, 11, 11,0.9);
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999 !important;
  }
/*animation*/
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid red;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #ffbb33 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*anaimation*/
/* Loader */

/*Scroll Bar*/
::-webkit-scrollbar {
  width: 8px !important;
}

/* Track */
::-webkit-scrollbar-track {
  background: black !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffbb33 !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white !important;
}
/*Scroll Bar*/

/*datatable*/
table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
bottom: .5em;
}

.wow {
    visibility: hidden;
}


.roboto {
    font-family: 'Roboto Condensed', sans-serif;
}
.robotoItalic {
    font-family: 'Roboto Condensed', sans-serif;
    font-style: italic;
}
.robotoBold {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
}
.oswald {
    font-family: 'Oswald', sans-serif;
}
.oswald-font-it {
    font-family: 'Oswald', sans-serif;
    font-style: italic;
}

.theme-bg-fade {
  background-color: rgba(255, 187, 51, 0.7);
}

.secondary-bg-fade {
  background-color: rgba(0, 0, 0, 0.4);
}

.background-transform-results {
  background-color: rgba(0,0,0,0.6);
  background-blend-mode: darken;
  margin:0 !important;padding:0 !important;
  top: 0 !important;
  position: absolute;
  min-height: 100vh;
  min-width: 100vh;
}

.background-transform-imdb {
    background-color: rgba(255,255,255,1);
    background-blend-mode: lighten; background-size: cover;
    margin:0 !important;padding:0 !important;
    position: absolute; 
    top: 0;
    width: 100%;
    height: 100%;
}

.background-transform-dark {
    background-color: rgba(0,0,0,0.6);
    background-blend-mode: darken;
    margin: 0 !important;padding:0 !important;
    top: 0 !important;
    min-height: 100vh;
    background-attachment: fixed;
}
.hover-dropdown {
    margin: 0 !important;
    padding: 0 !important;
}

.hover-dropdown:hover{
    background-color: #ffce00 !important;
    width: 100%;
}

.hover-dropdown-sp:hover{
    background-color: #ffce00 !important;
    color: black !important;
}

.my-movie-button {
    background-color: transparent;
    color: white;
    width: 100%;
    display:block;
    height: 40px;
    margin-top: 8px;
    border-radius: 8px;
    transition: 0.3s;
}

.my-movie-button:hover {
    background-color: #ffce00;
    color: black;
    font-size: 2.8vh;
}

.my-genre-button {
    background-color: transparent;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    color: white;
    width: 100%;
    display:block;
    height: 38px;
    transition: 0.3s;
}

.my-genre-button:hover {
    background-color: #ffce00;
    color: black;
    font-size: 2.8vh;
    border: 2px solid black;
}

.my-genre-buttonv2 {
    background-color: transparent;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    margin: 0 !important;
    padding: 0 !important;
    color: white;
    width: 100%;
    display:block;
    height: 38px;
    transition: 0.3s;
}

.my-genre-buttonv2:hover {
    background-color: red;
    color: black;
    font-size: 2.8vh;
    border: 2px solid black;
}

.my-title-button {
    color: white;
    transition: 0.3s;
}

.my-title-button:hover {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    font-size: 2.2vh;
}

.my-remove-button {
  color: white;
  background-color: transparent;
  transition: 0.3s;
}

.my-remove-button:hover {
  background-color: rgba(245, 0, 0, 0.7);
  color: white;
  font-size: 2.2vh;
}

.decorated {
  border: 1px solid #ffbb33;
  color: black;
  font-size: 16px;
  font-weight: bold;
  padding: 2px 10px;
  width: 378px;
  *width: 350px;
  background-color: #212529 !important;
  -webkit-appearance: none;
}

/*radio*/
.radio-toolbar {
  margin: 10px;
}

.radio-toolbar input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radio-toolbar label {
    display: inline-block;
    background-color: transparent;
	color: white;
    padding: 10px 20px;
    padding-bottom: 30px;
	height: 38px;
    font-size: 16px;
    border-radius: 4px;
    
}

.radio-toolbar label:hover {
  background-color: #ffbb33;
	color: black;
}

.radio-toolbar input[type="radio"]:focus + label {
	color: black;
}

.radio-toolbar input[type="radio"]:checked + label {
    background-color: transparent;
    border: 1px solid #ffbb33;
    color: #ffbb33;
}






