{% extends 'base.html' %}


{% block group_status %}

<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="card text-center secondary-bg-fade">
                <div class="card-header text-warning robotoBold h4">
                    Create Group
                </div>
                <div class="card-body">
                    <p class="card-text text-white roboto">
                        Create your own Group. Build your group.
                        Content you share will only be visible to the user how share the group with you.
                    </p>
                    <a href="{% url 'create_group' %}" class="btn btn-outline-warning robotoBold">Create Group</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card text-center secondary-bg-fade">
                <div class="card-header text-warning robotoBold h4">
                    Join Group
                </div>
                <div class="card-body">
                    <p class="card-text text-white roboto">
                        Joining the group will give access to all the content shared in a group. You can
                        also share your content.
                    </p>
                    <a href="{% url 'join_group' %}" class="btn btn-outline-warning robotoBold">Join Group</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container my-4 py-4">
    <div class="row">
        <div class="col-sm">
            <div class="secondary-bg-fade p-3">
                <span>
                    <h4 class="robotoBold text-warning text-center">You are Present in the following groups</h4>
                </span>
                <ul class="list-group">
                    {% for group in present_in_groups %}
                        {% if user !=  group.owner %}
                            <li class="list-group-item secondary-bg-fade text-white robotoBold">
                                <form action="{% url 'members' %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" value="{{group.groupID}}" name='groupId'>
                                    <button type="submit"
                                            class="my-genre-button">{{group.name}}</button>
                                </form>
                            </li>
                        {% else %}
                            <li class="list-group-item secondary-bg-fade text-white">
                                <form action="{% url 'members' %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" value="{{group.groupID}}" name='groupId'>
                                    <button type="submit"
                                            class="my-genre-button border border-warning">{{group.name}}
                                        <span class="badge badge-warning ml-2"
                                              style="color: black !important;">Admin</span>
                                    </button>
                                </form>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-sm">
            <div class="secondary-bg-fade p-3">
                <span>
                    <h4 class="robotoBold text-warning text-center">Your Reviews are available to see for</h4>
                </span>
                <ul class="list-group">
                    {% for user in users_in_group %}
                        <li class="list-group-item text-white robotoBold bg-transparent">{{user.username}}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}