{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block registerblock %}
<!-- Default form register -->
<div class="container" style="background-color: rgba(20, 20, 20, 0.5);">
    <form class="p-2 text-white" method="POST">
        {% csrf_token %}
        <p class="h3 mb-1 robotoBold text-warning"><i class="fas fa-file-signature mr-1"></i>Register</p>
        <hr class="bg-white">
        <div class="robotoBold">
            <!-- Username -->
            {{ form.username|as_crispy_field }}
        </div>
        <div class="robotoBold">
            <!-- E-mail -->
            {{ form.email|as_crispy_field }}
        </div>
        <div class="form-row row robotoBold">
            <div class="col-sm">
                {{ form.password1|as_crispy_field }}
            </div>
            <div class="col-sm">
                <!-- Last name -->
                {{ form.password2|as_crispy_field }}
            </div>
        </div>

        <!-- Sign up button -->
        <button class="btn btn-outline-warning my-2 btn-block" type="submit">Register</button>
        <div class="border-top pt-3">
            <small class="text-muted">Already Have an Account?</small>
            <a href="{% url 'login' %}" class="ml-2">Sign in</a>
        </div>
    </form>
    
</div>

<!-- Default form register -->
{% endblock %}